<html>
    <head>
        <title>AllCards</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <a href='static/index.html'>首頁</a>
        <a href='Page?cmd=QueryCardSuitPage'>所有卡組</a>
        
        <div>
            {{$suitKey := .CardSuit.Key}}
            <h1>{{$suitKey}}</h1>
            
            <table width='100%' border=1px>
                <form action='Page?cmd=ModifyCardWithCardSuit'>
                    <input type=hidden name=cmd value=ModifyCardWithCardSuit>
                    <input type=hidden name=key value={{$suitKey}}>
                    <input type=hidden name=type value=none>
                    {{with .CardSuit}}
                    <tr>
                        <td width=5% align="center" valign="middle">名稱</td>
                        <td>
                            <input name=name value={{.Name}}>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">描述</td>
                        <td>
                            <input name=description value={{.Description}}>
                        </td>
                    </tr>
                    <tr><td colspan=2>
                        <input type=submit>
                    </td></tr>
                    {{end}}
                </form>
                
                
                {{range .Cards}}
                    <tr>
                        <td align="center" valign="middle">
                            <a href='Page?cmd=ModifyCardWithCardSuit&key={{$suitKey}}&cardId={{.Key}}&type=delete'>X</a>
                        </td>
                        <td>
                            <table width=100%>
                                
                                <tr>
                                    <td>{{.Name}}</td>
                                    <td>{{.AtkType}}</td>
                                    <td>Level:{{.Level}}</td>
                                    <td>P:{{.Power}}</td>
                                    <td>M:{{.Magic}}</td>
                                    <td>W:{{.Weight}}</td>
                                </tr>
                                
                                <tr>
                                    <td colspan=6>{{.Content}}</td>
                                </tr>
                                
                                <tr>
                                    <td>{{.Action}}</td>
                                    <td>{{.ActionCost}}</td>
                                    <td>{{.Type}}</td>
                                    <td>{{.Tag}}</td>
                                    <td>-</td>
                                    <td>-</td>
                                </td>
                                
                                <tr>
                                    <td colspan=6>{{.ActionContent}}</td>
                                </td>
                                
                            </table>
                        </td>
                    </tr>
                {{end}}
                
                <tr>
                    <td colspan=2 align="center" valign="middle">所有牌</td>
                </tr>
                
                {{range .AllCards}}
                    <tr>
                        <td align="center" valign="middle">
                            <a href='Page?cmd=ModifyCardWithCardSuit&key={{$suitKey}}&cardId={{.Key}}&type=add'>O</a>
                        </td>
                        <td>                            
                            <table width=100%>
                                
                                <tr>
                                    <td>{{.Name}}</td>
                                    <td>{{.AtkType}}</td>
                                    <td>Level:{{.Level}}</td>
                                    <td>P:{{.Power}}</td>
                                    <td>M:{{.Magic}}</td>
                                    <td>W:{{.Weight}}</td>
                                </tr>
                                
                                <tr>
                                    <td colspan=6>{{.Content}}</td>
                                </tr>
                                
                                <tr>
                                    <td>{{.Action}}</td>
                                    <td>{{.ActionCost}}</td>
                                    <td>{{.Type}}</td>
                                    <td>{{.Tag}}</td>
                                    <td>-</td>
                                    <td>-</td>
                                </td>
                                
                                <tr>
                                    <td colspan=6>{{.ActionContent}}</td>
                                </td>
                                
                            </table>
                        </td>
                    </tr>
                {{end}}
            <table>
        <div>
    </body>
</html>